target/generated-sources/
target/maven-status/
target/test-classes/
target/classes/
target/decompiled/
.jdtls
.metadata
.classpath
.project
.settings
__pycache__

result.json
.venv

reports/

jpamb.egg-info/
dist/
*.pyd
*.so

build/

.jpamb-stepwise
.hypothesis
leananalyzer

result

.idea/
*docs/
*./docs/.DS_Store
.DS_Store
*.class
.DS_Store
.DS_Store
target/
